body {
    background-color: #e4bc7c;
    margin: 0;
}

.navbar {
    background-color: antiquewhite; 
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.inicio, .dashboard {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0.5%;
    border: 2% solid #e4bc7c;
    justify-content: center;
}

.titulo {
    background-color: antiquewhite;
    text-align: center;
    border-color: #f6f193;
    border-width: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5%;
    margin-right: 5%;
    flex-grow: 1;
}

#centro {
    background-color: #fce4c4;
    display: flex;
    flex-direction: column;
    margin: 0.5%;
}

a {
    all: unset;
}

.a {
    margin: 0 3% 0 3%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fce4c4;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

.footer {
    background-color: #e4bc7c;
    text-align: center;
}